/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff");
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic_latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-cyrillic_latin-500.woff") format("woff");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-cyrillic_latin-700.woff") format("woff");
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-cyrillic_latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-cyrillic_latin-900.woff") format("woff");
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.woff2?97597009") format("woff2"),
    url("../fonts/fontello.woff?97597009") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font: 16px "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

ul li {
  line-height: 24px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.title {
  margin: 15px 0;
}

.btn {
  width: 270px;
  height: 60px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid transparent;
  background-color: #ff4e2e;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

.btn:hover,
.btn:focus {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border: 1px solid #ff4e2e;
  background-color: transparent;
  color: #ff4e2e;
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
