html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.fixed-container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1170px;
  min-width: 280px;
}

/* --- HEADER - Шапка сайта --- */

.header {
  overflow: hidden;
  background-color: #fbfbfb;
}

.header__container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1370px;
}

/* -- Фотография с фоном -- */

.header__logo {
  position: absolute;
  top: 95px;
  right: -80px;
}

.header__background-img {
  position: absolute;
  top: 140px;
  right: -380px;
  width: 919px;
  height: 763px;
}

/* -- Теги с элементами анимации -- */

.header__tag {
  display: inline-block;
  position: absolute;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #f35831, #fa0891);
}

.tag-header__div-top {
  top: 283px;
  left: 270px;
  font-size: 30px;
}

.tag-header__div-top_anim {
  transform: translate(242px, -120px) rotate(346deg);
  transition: 3s;
}

.tag-header__div-down {
  top: 450px;
  left: 370px;
  font-size: 38px;
}

.tag-header__div-down_anim {
  transform: translate(305px, 87px) rotate(380deg);
  transition: 3s;
}

.tag-header__slash-down {
  top: 450px;
  left: 170px;
  font-size: 40px;
}

.tag-header__slash-down_anim {
  transform: translate(-68px, 218px) rotate(338deg);
  transition: 3s;
}

.tag-header__slash-top {
  display: none;
  top: 450px;
  left: 170px;
  font-size: 48px;
}

.tag-header__slash-top_anim {
  transform: translate(250px, -222px) rotate(375deg);
  transition: 3s;
}

.tag-header__grid-left {
  top: 435px;
  left: 200px;
  font-size: 57px;
}

.tag-header__grid-left_anim {
  transform: translate(-230px, -75px) rotate(377deg);
  transition: 3s;
}

.tag-header__bracket-left {
  top: 270px;
  left: 300px;
  font-size: 49px;
}

.tag-header__bracket-left_anim {
  transform: translate(-446px, -139px) rotate(389deg);
  transition: 3s;
}

/* -- Верхний бар Header -- */

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 29px;
}

.menu-header__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 -16px;
  padding: 0;
  list-style-type: none;
}

.menu-header__list li {
  flex: 1 1 auto;
  margin: 0 16px;
  text-decoration: none;
}

.menu-header__item {
  text-decoration: none;
  color: #1f1f24;
}

.menu-header__portfolio {
  padding: 1px 0;
  border-bottom: 1px solid #fc557c;
  text-decoration: none;
  color: #fc557c;
}

.menu-header__btn {
  display: none;
  padding: 0;
  width: 45px;
  height: 32px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/css/img/menu.png");
  background-color: transparent;
  background-size: cover;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.contacts-header__tell {
  margin-right: 30px;
  padding-bottom: 3px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.contacts-header__btn {
  width: 205px;
  height: 45px;
  border: 1px solid #f82370;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #f53f4f;
  font-size: 18px;
}

/* -- Нижняя часть Header -- */

.header__middle {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 665px;
}

.name-header__title {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
}

.name-header__subtitle {
  margin: 15px 0 43px 0;
  font-size: 25px;
  font-weight: normal;
  color: #8993ad;
}

.name-header__btn {
  margin-bottom: 55px;
  width: 270px;
  height: 60px;
  border: none;
  background-color: #ff4e2e;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

/* --- MAIN - Основная часть сайта --- */

/* -- Раздел верхний -- */

.main__top {
  display: flex;
  align-items: center;
  padding: 87px 0;
}

.main__top .fixed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top-main__title {
  margin: 0;
  font-size: 54px;
}

.top-main__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 87px -34px 91px;
  padding: 0;
  list-style-type: none;
}

.top-main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
  margin: 0 34px;
  color: #8993ad;
  font-size: 20px;
}

.top-main__text {
  margin: 16px 0 0;
  line-height: 30px;
}

.top-main__btn {
  margin-bottom: 22px;
  width: 270px;
  height: 60px;
  border: none;
  background-color: #ff4e2e;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

/* -- Раздел со слайдером -- */

.main__slider {
  display: flex;
  align-items: center;
  padding: 83px 0 92px;
  background-color: #fbfbfb;
}

.main__slider .fixed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.slider-main__title {
  margin: 0;
  font-size: 54px;
}

.slider-main__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 102px -15px 94px;
  padding: 0;
  list-style-type: none;
}

.slider-main__item {
  flex: 1 1 auto;
  margin: 0 15px;
}

.slider-main__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #8993ad;
  font-size: 20px;
}

.slider-main__description {
  margin: 33px 0 0 0;
}

.slider-main__btn {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 280px;
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  background-image: url("/css/img/arrow.png");
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 10px 1px #c0c0c0;
}

.btn-slider-main__left {
  left: 10px;
}

.btn-slider-main__right {
  right: 10px;
  transform: rotate(180deg);
}

/* -- Слайдер (подготовка) -- */

.slider-main__contol {
  display: none;
  position: relative;
}

.slider__check {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__label {
  overflow: hidden;
  display: inline-block;
  margin: 5px 12px 94px;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-radius: 50%;
  text-indent: -9999px;
}

/* Display */
.slider__image {
  display: none;
}
.slider__check:checked + .slider__label + .slider__image {
  display: block;
}

/* Current */
.slider__check:checked + .slider__label {
  background: #ff4e2e;
}

.slider-main__btn-order {
  margin-bottom: 10px;
  width: 270px;
  height: 60px;
  border: none;
  background-color: #ff4e2e;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

.slider-main__btn-order:before {
  content: "Заказать проект";
}

/* -- Раздел с рекламным предложением -- */

.main__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 65px 0;
  background: linear-gradient(30deg, #ff8f5a, #ff2f96);
}

/* -- Теги с элементами анимации -- */

.banner-main__tag {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  color: #ffffff;
}

.tag-banner__div-down {
  font-size: 38px;
}

.tag-banner__div-down_anim {
  transform: translate(462px, 118px) rotate(382deg);
  transition: 3s;
}

.tag-banner__bracket-left {
  font-size: 49px;
}

.tag-banner__bracket-left_anim {
  transform: translate(-830px, -124px) rotate(390deg);
  transition: 3s;
}

.tag-banner__slash-up {
  font-size: 40px;
}

.tag-banner__slash-up_anim {
  transform: translate(695px, -108px) rotate(338deg);
  transition: 3s;
}

.tag-banner__grid-left {
  font-size: 57px;
}

.tag-banner__grid-left_anim {
  transform: translate(-715px, 65px) rotate(377deg);
  transition: 3s;
}

.tag-banner__bracket-right {
  font-size: 49px;
}

.tag-banner__bracket-right_anim {
  transform: translate(807px, 74px) rotate(342deg);
  transition: 3s;
}

.banner-main__title {
  margin: 10px 0 29px 15px;
  max-width: 960px;
  line-height: 60px;
  font-size: 45px;
  color: #ffffff;
  line-height: 60px;
}

.banner-main__footnote {
  display: inline-block;
  position: relative;
  max-width: 760px;
  margin-left: 30px;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
}

.banner-main__mark {
  position: absolute;
  left: -15px;
}

/* --- FOOTER - Нижняя часть сайта --- */

.footer .fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 63px 0;
}

.footer__menu {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 34px;
  list-style-type: none;
  font-size: 16px;
}

.menu-footer__link {
  text-decoration: none;
  color: #8993ad;
}

.footer__contact {
  margin: 0 0 10px 59px;
  padding: 0;
  list-style-type: none;
  line-height: 60px;
  font-size: 25px;
}

.contact-footer i {
  display: inline-block;
  margin-right: 16px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #f35831, #fa0891);
}

.contact-footer__link {
  text-decoration: none;
  color: #000000;
}

.social-footer__btn {
  margin: 13px 23px 8px 0;
  width: 246px;
  height: 45px;
  border: 1px solid #f82370;
  background-color: #ffffff;
  cursor: pointer;
  color: #f53f4f;
  font-size: 16px;
}

.social-footer__list {
  margin-top: 22px;
  padding: 0;
  list-style-type: none;
}

.social-footer__item {
  display: inline-block;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.social-footer__vk,
.social-footer__twitter,
.social-footer__instagram,
.social-footer__fb {
  display: inline-block;
  background: url("/css/img/icon-social.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin-right: 26px;
}

.social-footer__vk {
  background-position: -5px -0px;
  width: 35px;
  height: 21px;
}

.social-footer__twitter {
  background-position: -5px -26px;
  width: 29px;
  height: 25px;
}

.social-footer__instagram {
  background-position: -5px -56px;
  width: 25px;
  height: 25px;
  margin-right: 0;
}

.social-footer__fb {
  background-position: -5px -86px;
  width: 16px;
  height: 28px;
}

.footer__bar {
  margin: 0 auto;
  background-color: #31293c;
  color: #ffffff;
  font-size: 16px;
}

.footer__bar .fixed-container {
  padding: 30px 0;
  justify-content: center;
}

/* -- Шаги адптивности -- */

@media (max-width: 1200px) {
  .tag-header__div-top_anim {
    transform: translate(615px, -135px) rotate(346deg);
  }

  .tag-header__div-down_anim {
    transform: translate(500px, 95px) rotate(380deg);
  }

  .tag-header__slash-top {
    display: block;
  }

  .tag-header__slash-down_anim {
    transform: translate(188px, 132px) rotate(338deg);
  }

  .tag-header__grid-left_anim {
    transform: translate(-142px, 193px) rotate(377deg);
  }

  .tag-header__bracket-left_anim {
    transform: translate(-221px, -117px) rotate(389deg);
  }

  .header__logo {
    right: -65px;
  }

  .header__background-img {
    top: 178px;
    right: -372px;
    transform: scaleY(0.831);
  }

  .menu-header__list {
    display: none;
  }

  .menu-header__btn {
    display: block;
  }

  .name-header__title {
    font-size: 56px;
  }

  .name-header__subtitle {
    margin: 17px 0 46px 0;
  }

  .name-header__btn {
    margin-bottom: 22px;
    width: 320px;
    height: 68px;
    border: none;
    background-color: #ff4e2e;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
  }

  .top-main__title {
    margin-right: 25px;
  }

  .top-main__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 46px 0px 50px;
    padding: 0 85px 0 80px;
  }

  .top-main__item {
    margin: 40px 40px;
    flex-basis: 30%;
  }

  .top-main__btn {
    margin-bottom: 20px;
    width: 320px;
    height: 68px;
  }

  .slider-main__title {
    padding-top: 4px;
  }

  .slider-main__list {
    margin: 94px 0 95px;
    width: 100%;
  }

  .slider-main__item {
    margin: 0;
  }

  .slider-main__item:first-child {
    margin-right: 37px;
  }

  .slider-main__item:nth-child(n + 3),
  .slider-main__btn {
    display: none;
  }

  .slider-main__img {
    width: 100%;
  }

  .slider-main__description {
    margin-top: 26px;
    font-size: 24px;
  }

  .slider-main__contol {
    display: block;
  }

  .slider-main__btn-order {
    margin: 1px 0 9px;
    width: 320px;
    height: 68px;
  }

  .slider-main__btn-order:before {
    content: "Узнать стоимость";
  }

  .tag-banner__bracket-left,
  .tag-banner__grid-left {
    display: none;
  }

  .tag-banner__div-down_anim {
    transform: translate(0px, 120px) rotate(382deg);
    font-size: 26px;
  }

  .tag-banner__slash-up_anim {
    transform: translate(361px, 103px) rotate(338deg);
  }

  .tag-banner__bracket-right_anim {
    transform: translate(-355px, -161px) rotate(390deg);
    font-size: 32px;
  }

  .banner-main__title {
    margin: 8px 0 29px;
  }

  .banner-main__footnote {
    margin-left: 15px;
    margin-bottom: 17px;
  }

  .footer > .fixed-container {
    padding: 87px 40px 62px;
  }

  .footer__contact {
    margin-right: 45px;
  }

  .social-footer__btn {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .tag-header__slash-top_anim {
    transform: translate(250px, -270px) rotate(375deg);
  }

  .header__background-img {
    transform: scale(0.7, 0.7);
  }

  .header__logo {
    transform: scale(0.7, 0.7);
    right: -140px;
  }

  .header__middle {
    min-height: 585px;
  }

  .name-header__title {
    font-size: 48px;
  }

  .name-header__subtitle {
    font-size: 20px;
  }

  .top-main__title,
  .slider-main__title {
    font-size: 44px;
  }

  .tag-banner__bracket-right_anim {
    transform: translate(-350px, -180px) rotate(390deg);
  }

  .tag-banner__div-down_anim {
    transform: translate(0px, 140px) rotate(382deg);
  }

  .banner-main__title {
    font-size: 36px;
  }

  .footer__contact {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .header {
    background-color: #ffffff;
  }

  .header__img {
    position: absolute;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    background-color: #fbfbfb;
  }

  .header__background-img {
    top: 80px;
    right: -100px;
  }

  .header__logo {
    top: 0;
    right: 0;
  }

  .tag-header__slash-top_anim {
    transform: translate(330px, -330px) rotate(375deg);
  }

  .header__bar {
    padding: 26px 0 26px;
  }

  .contacts-header__btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/css/img/tell.png");
    background-size: cover;
    font-size: 0;
  }

  .header__middle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 770px;
  }

  .header__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  }

  .main__top {
    padding: 35px 0;
  }

  .top-main__list {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
  }

  .footer .fixed-container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .fixed-container {
    padding: 0 20px;
  }

  .header__img {
    min-height: 468px;
  }

  .header__logo {
    transform: scale(0.52, 0.52);
    top: -77px;
    right: -176px;
  }

  .header__background-img {
    transform: scale(0.52, 0.52);
    top: -10px;
    right: -317px;
  }

  .tag-header__grid-left_anim {
    transform: translate(-163px, -232px) rotate(377deg);
    font-size: 29px;
  }

  .tag-header__bracket-left_anim {
    transform: translate(-250px, -171px) rotate(389deg);
    font-size: 25px;
  }

  .tag-header__slash-top {
    display: none;
  }

  .tag-header__slash-down_anim {
    transform: translate(2px, -369px) rotate(330deg);
    font-size: 19px;
  }

  .tag-header__div-top_anim {
    transform: translate(-24px, -138px) rotate(378deg);
    font-size: 15px;
  }

  .menu-header__btn {
    width: 24px;
    height: 18px;
  }

  .contacts-header__tell {
    margin-right: 34px;
    padding-bottom: 1px;
    font-size: 18px;
  }

  .contacts-header__btn {
    width: 26px;
    height: 26px;
  }

  .header__middle {
    min-height: 572px;
  }

  .name-header__title {
    font-size: 30px;
  }

  .name-header__subtitle {
    margin: 7px 0 23px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
  }

  .name-header__btn {
    margin: 0;
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  .main__top {
    padding: 43px 0;
  }

  .top-main__title {
    margin: 0;
    font-size: 30px;
  }

  .top-main__list {
    justify-content: space-between;
    margin: 41px 0 0;
    padding: 0;
  }

  .top-main__item {
    flex-basis: 171px;
    margin: 0 15px;
  }

  .top-main__img {
    height: 58px;
  }

  .top-main__text {
    margin: 12px 0 0;
    line-height: 25px;
    font-size: 16px;
  }

  .top-main__btn {
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  .main__slider {
    padding: 27px 0 42px;
  }

  .slider-main__title {
    font-size: 30px;
    text-align: center;
  }

  .slider-main__list {
    margin: 40px 0 39px;
  }

  .slider-main__item:first-child {
    display: none;
  }

  .slider-main__item {
    overflow: hidden;
  }

  .slider-main__img {
    width: auto;
    height: 251px;
  }

  .slider-main__description {
    margin-top: 16px;
    font-size: 18px;
  }

  .slider__label {
    margin: 5px 6px 45px;
    width: 10px;
    height: 10px;
  }

  .slider-main__btn-order {
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  .slider-main__btn-order:before {
    content: "Заказать проект";
  }

  .main__banner {
    padding: 33px 0 25px;
  }

  .banner-main__tag {
    display: none;
  }

  .banner-main__title {
    margin-bottom: 33px;
    line-height: 40px;
    font-size: 28px;
  }

  .banner-main__footnote {
    font-size: 15px;
  }

  .footer > .fixed-container {
    justify-content: space-between;
    padding: 38px 20px 5px;
  }

  .footer__menu {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .footer__contact {
    margin: 0;
    line-height: 46px;
    font-size: 20px;
  }

  .contact-footer i {
    font-size: 16px;
    margin-right: 13px;
  }

  .social-footer__btn {
    margin-top: 12px;
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  .social-footer__list {
    margin: 42px 0;
  }

  .footer__bar > .fixed-container {
    padding: 18px 0;
    font-size: 12px;
  }
}
